doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        title=title || 'Epsilon Client'
        script(src='js/socket.io.slim.js')
        script(src='js/jquery-3.3.1.min.js')
        link(type='text/css', rel='stylesheet', href='css/materialize.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    body(style='background: #beffb4')
        nav.green
            .nav-wrapper.container
                a.brand-logo(href='#!') Epsilon
        .container
            .center-align
                .row
                    .col.s12.m6.l3
                        .card
                            .card-image
                                img(src='images/dogs/computer.png')
                            .card-content
                                p Brak połączenia z serwerem :(
                    .col.s12.m6.l3
                        .card
                            .card-image
                                img(src='images/dogs/music.png')
                            .card-content
                                #player
                                //iframe#ytplayer(type='text/html', src='https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&controls=0&disablekb=1&enablejsapi=1&fs=0&modestbranding=1&playsinline=1&color=white&iv_load_policy=3', frameborder='0', width='100%')
                                p.range-field
                                    input#volumeslider(type='range', min='0', max='100')
                    .col.s12.m6.l3
                        .card
                            .card-image
                                img(src='images/dogs/video.png')
                            .card-content
                                p Wkrótce!
                    .col.s12.m6.l3
                        .card
                            .card-image
                                img(src='images/dogs/random.png')
                            .card-content
                                p Wkrótce!
        script(type='text/javascript', src='js/materialize.min.js')
        script.
            let tag = document.createElement('script');
            tag.src = 'https://www.youtube.com/iframe_api';

            let firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    //height: '390',
                    //width: '640',
                    videoId: 'M7lc1UVf-VE',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

        function onPlayerReady(event) {
            event.target.playVideo();
        }

        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
        script.
            let socket = io();

            socket.on('serverGlobalMessage', data => console.log(data));

            $(document).ready(function(){
                // nothing here
            });
